.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
    font-weight: bold;
}
